[submodule "logstash"]
	path = logstash
	url = https://github.com/lusis/chef-logstash.git
[submodule "ant"]
	path = ant
	url = https://github.com/opscode-cookbooks/ant.git
[submodule "newrelic"]
	path = newrelic
	url = https://github.com/escapestudios-cookbooks/newrelic.git
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark.git
